# Environment variables for the application. Copy this file to .env and fill in the values.

# Google Sheets API credentials. You can create a service account and download the JSON key file from the Google Cloud Console.
GOOGLE_PRIVATE_KEY=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SHEET_ID=

# STAFF_JSON is a JSON object where the keys are staff names and the values are their hashed passwords.
# Pretty big security flaw so could probably move to some persistent database solution :/
STAFF_JSON=

# Latitude and Longitude for the location of the business. Used for weather data.
LAT=
LON=